section h1 {
    margin:0;
}
section,form{
    text-align: center;
    background-color:lightblue;
}
#tasks-form{
    display: block;
    background-color:lightblue;
}

section ul{
    padding:0;
    margin:2px;
    list-style-type: none;
}
section ul li form{
    
    padding: 2px 0 2px 10px;
    margin:0 0 5px 0;
    background-color: antiquewhite;
    list-style-type: none;
    text-align: left;
}

section ul li:hover{
    background-color: cornsilk;
}

.input-task-field{
    display: inline-block;
    margin: 0;
    padding: 4px 0px;
    width: 80%;
}

.task-btn{
    display: inline-block;
    
    border-width: 1px;
    border-color: grey;
    background-color:lightblue;
    width: 19%;
}

.task-btn:hover{
    background-color: aquamarine;
}

.task{
    border:none;
    background: none;
    display: inline-block;
    width: 95%;
    left:0;
    padding: 0;
    font-size: 20px;
}

.completed ,.completed:hover{
    background-color: grey;
    text-decoration: line-through;
}

.complete-task-btn{
    display: inline-block;
    padding: 7px 2px;
    border-width: 1px;
    border-color: grey;
    background-color:aquamarine;
}